<nz-layout>
  <nz-content style="padding-left: 150px; padding-right: 50px;">
    <nz-breadcrumb style="margin:12px 0;">
      <!--<nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
      <!--<nz-breadcrumb-item>List</nz-breadcrumb-item>-->
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px;">
      <div class="paragraph" style="text-align: justify;">
        <h2>參考資料</h2>
        請參考<a routerLink="/stat1021">網絡科學課程</a>裡的資料。
        <div style="height: 26px;"></div>
        <h3>教學材料</h3>
          <ul>
            <li>
              <strong>教青少年網絡科學</strong>
              – 請參考<a href="http://www.math.ucla.edu/~mason/papers/teach-final.pdf" target="_blank">此文</a>。
            </li>
          </ul>
        <h3>電腦工具</h3>
          <ul>
            <li>
              <strong>Graph-tool</strong>
              – 請參考<a href="https://graph-tool.skewed.de/" target="_blank">該專案官網</a>。
            </li>
          </ul>
      </div>
    </div>
  </nz-content>
  <nz-sider [nzWidth]="350">
    <div style="margin-top: -60px;">
      <graph [nodes]="nodes" [links]="links"></graph>
    </div>
  </nz-sider>
</nz-layout>
