<nz-layout>
  <nz-content style="padding-left: 150px; padding-right: 25px;">
    <nz-breadcrumb style="margin:12px 0;">
      <!--<nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
      <!--<nz-breadcrumb-item>List</nz-breadcrumb-item>-->
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px;">
      <div class="paragraph" style="text-align: justify;">
        <h2>參考資料</h2>
        <h3>大學課程</h3>
        <ul>
          <li>
            <strong>[成功大學統計系] 資料科學導論</strong>
            – 請參考<a routerLink="/stat1021">網絡科學課程</a>裡的資料。
          </li>
          <li>
            <strong>[UCLA 數學系] 網絡</strong>
            – 由 Mason Porter 開設給大學生的課程（2018 春季），Mason 在<a href="https://link.springer.com/content/pdf/10.1007%2F978-3-319-77237-0_1.pdf" target="_blank">此文</a>裡討論他這門課的發展過程和教學哲學。<nz-tag [nzColor]="'geekblue'"><a href="http://www.math.ucla.edu/~mason/course-materials/networks-math168-ucla-spring2018.zip" target="_blank">下載課程資料</a></nz-tag>
          </li>
          <li>
            <strong>[UMich 物理系] 網絡理論</strong>
            – Mark Newman 已超過十年，年年開設給研究生的網絡理論課程，屬於物理學裡複雜系統的一支。<nz-tag [nzColor]="'volcano'"><a href="http://www-personal.umich.edu/~mejn/courses/2017/cscs535/index.html" target="_blank">課程網頁</a></nz-tag>
          </li>
          <li>
            <strong>[Stanford 電腦科學系] 網絡分析</strong>
            – Jure Leskovec 開授給研究生的網絡分析課程，強調用電腦方法來分析網絡數據，並討論相關的演算法的挑戰等。<nz-tag [nzColor]="'volcano'"><a href="http://web.stanford.edu/class/cs224w/index.html" target="_blank">課程網頁</a></nz-tag>
          </li>
        </ul>
        <div style="height: 26px;"></div>
        <h3>教學材料</h3>
        <ul>
          <li>
            <strong>給國中生的網絡科學</strong>
            – 由 Mason Porter 等人撰寫，分享他們在英國牛津大學及附近學校，對少年學生（13-16 歲；5-50 人不等）的教學經歷。附錄中列有 7 個他們發展的教學模組。<nz-tag [nzColor]="'geekblue'"><a href="http://www.math.ucla.edu/~mason/papers/teach-final.pdf" target="_blank">下載報告</a></nz-tag>
          </li>
        </ul>
        <h3>科普專文</h3>
        <ul>
          <li>
            <strong><a href="http://sa.ylib.com/MagArticle.aspx?Unit=featurearticles&id=4287" target="_blank">從社群網路看資訊流動</a></strong>
            - 科學人 <a href="http://sa.ylib.com/Catalog.aspx?id=272" target="_blank">2019 年 2 月號</a>
          </li>
        </ul>
      </div>
      <div class="paragraph" style="text-align: justify;">
        <h3>電腦工具</h3>
        <nz-table #basicTable [nzData]="displayData" nzSize="middle">
          <thead>
          <tr>
            <th nzShowSort [(nzSort)]="sortMap.name" (nzSortChange)="sort('name', $event)">名稱</th>
            <th nzShowExpand>簡介</th>
            <th nzShowSort [(nzSort)]="sortMap.author" (nzSortChange)="sort('author', $event)">主要作者</th>
            <th nzShowSort [(nzSort)]="sortMap.lang" (nzSortChange)="sort('lang', $event)">語言</th>
            <th nzShowSort [(nzSort)]="sortMap.updatedTime" (nzSortChange)="sort('updatedTime', $event)">更新時間</th>
            <th nzShowSort [(nzSort)]="sortMap.category" (nzSortChange)="sort('category', $event)">類別</th>
            <th nzShowSort [(nzSort)]="sortMap.license" (nzSortChange)="sort('license', $event)">授權</th>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-data [ngForOf]="basicTable.data">
            <tr>
              <td><a href="{{data.name | str2url}}" target="_blank" *ngIf="data.name | str2url">{{data.name}}</a></td>
              <td nzShowExpand [(nzExpand)]="data.expand"></td>
              <td><a href="{{data.author | str2url}}" target="_blank"
                     *ngIf="data.author | str2url; else strAuthor">{{data.author}}</a></td>
              <ng-template #strAuthor>
                <p>
                  {{data.author}}
                </p>
              </ng-template>
              <td>{{data.lang}}</td>
              <td>{{data.updatedTime}}</td>
              <td>{{data.category}}</td>
              <td><a href="{{data.license | str2url}}" target="_blank"
                     *ngIf="data.license | str2url; else strLicense">{{data.license}}</a></td>
              <ng-template #strLicense>
                <p>
                  {{data.license}}
                </p>
              </ng-template>
            </tr>
            <tr [nzExpand]="data.expand">
              <td colspan="7">{{data.desc}}</td>
            </tr>
          </ng-template>
          </tbody>
        </nz-table>
      </div>
    </div>

  </nz-content>
  <nz-sider [nzWidth]="400">
    <div style="margin-top: -60px;">
      <graph [nodes]="nodes" [links]="links"></graph>
    </div>
  </nz-sider>
</nz-layout>
