<nz-layout>
  <nz-content class="paragraph">
    <nz-breadcrumb style="margin:12px -50px;">
      <nz-breadcrumb-item>Homepage</nz-breadcrumb-item>
      <nz-breadcrumb-item>Lectures</nz-breadcrumb-item>
      <nz-breadcrumb-item>National Cheng Kung University</nz-breadcrumb-item>
      <nz-breadcrumb-item>STAT1021: Introduction to Data Science</nz-breadcrumb-item>
    </nz-breadcrumb>

    <div>
      <h1>
        STAT1021: Introduction to Data Science (Spring 2018)
      </h1>

      <h5>
        Lecture hours: Apr. 11 & Apr. 18 [Wed], 15:10pm-18:00pm<br>
        Lecture room: Dept. Bldg. of Statistics 62223<br>
        <br>
        Guest Instructor: Tzu-Chi Yen (courtesy of Prof. Cheng-Te Li)<br>
        Email: junipertcy [at] gmail.com<br>
        Office location: TBD<br>
        Office hours: TBD<br>
      </h5>
      <br>
      <h3>Course Description</h3>

      This short lecture provides an introduction to how data science is utilized in the industry,
      with an emphasis on developing skills to facilitate teamwork in software development.
      In particular, we will sample and analyze the social network of the students in the class and introduce broadly
      applicable concepts in (static) network analysis.
      The course will include: an introduction to software development methods and tools;
      graph theory and graph concepts; community detection; the implications of popular concepts such as "six
      degrees of separation" and the "friendship paradox".

      <br>
      <u>
        Important links:
      </u>
      <ul>
        <li>
          <a
            href="http://class-qry.acad.ncku.edu.tw/syllabus/online_display.php?syear=0106&sem=2&co_no=H212200&class_code=" target="_blank">STAT1021
            Official Webpage</a>
        </li>
        <li>
          <a href="https://github.com/junipertcy/data-engineering-tutorial" target="_blank">STAT1021 on GitHub</a>
        </li>
        <li>
          <a href="https://github.com/junipertcy/friendship-oll" target="_blank">Friendship Survey Tool on GitHub</a>
        </li>
      </ul>
      <br>
      <h3>Lectures</h3>

      <p>
      </p>

      <div>
        <table width="100%" id="lectures">
          <colgroup>
            <col width="5%">
            <col width="6%">
            <col width="49%">
            <col width="20%">
            <col width="20%">
          </colgroup>
          <thead>
          <tr>
            <th align="center">Date</th>
            <th align="left">Part</th>
            <th align="left">Topic</th>
            <th align="left">Reading</th>
            <th align="left">Assignments</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td align="center">4/11</td>
            <td align="left">i</td>
            <td align="left"><b>Network Science</b>: a short introduction</td>
            <td align="left">TBD</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="left">ii</td>
            <td align="left"><b>Git</b>: its history, basic commands, and use cases</td>
            <td align="left">TBD</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="left">iii</td>
            <td align="left"><b>GitHub I</b>: collaboration strategies and software patterns </td>
            <td align="left">TBD</td>
            <td align="left">Visit GitHub</td>
          </tr>
          <tr>
            <td align="center">4/18</td>
            <td align="left">i</td>
            <td align="left"><b>GitHub II</b>: managing conflicts, dependencies, and code repair strategies</td>
            <td align="left">TBD</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="left">ii</td>
            <td align="left"><b>Static Network Analysis</b>: centrality measures and community detection</td>
            <td align="left">TBD</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="left">iii</td>
            <td align="left"><b>Web Development</b>: http/https protocol, REST, and programming tools</td>
            <td align="left">TBD</td>
            <td align="left">Visit GitHub</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ul>
      <li>
        [1] Easley and Kleinberg, "Networks, Crowds, and Markets". The complete textbook is <a
        href="http://www.cs.cornell.edu/home/kleinber/networks-book/">available online</a> as a searchable PDF.
      </li>
      <li>
        [2] Albert-László Barabási, "Network Science". The complete textbook is <a
        href="http://barabasi.com/networksciencebook/">available online</a> as a searchable PDF.
      </li>
      <!--https://meesong.github.io/StaticBlog/2016/Language/Writing-Solid-Python-Code-Notes/-->
      <!--https://effectivepython.com/-->
    </ul>
    <br>
    <br>
    <h4>Brief List of Topics to be Covered</h4>
    <br>
    <h4>/* TO BE DETERMINED */</h4>
    <!--<ul>-->
      <!--<li>-->
        <!--– Software Process Models-->
      <!--</li>-->
      <!--<li>-->
        <!--– Software Patterns and Architectural Design-->
      <!--</li>-->
      <!--<li>-->
        <!--– Documentation-->
      <!--</li>-->
      <!--<li>-->
        <!--– Licensing/Copyright/Patents/IP-->
      <!--</li>-->
      <!--<li>-->
        <!--– Testing Methods and Strategies-->
      <!--</li>-->
      <!--<li>-->
        <!--– Code Repair Strategies-->
      <!--</li>-->
      <!--<li>-->
        <!--– Code Management and Peer Review-->
      <!--</li>-->
      <!--<li>-->
        <!--– Source Code Control and Managing Conflicts-->
      <!--</li>-->
      <!--<li>-->
        <!--– Managing Dependencies/Build tools/Integration-->
      <!--</li>-->
      <!--<li>-->
        <!--– Continuous Integration-->
      <!--</li>-->
      <!--<li>-->
        <!--– Software Deployment and Deployment environments-->
      <!--</li>-->
    <!--</ul>-->
    <!--<br>-->
    <!--<h4>/* Graph Analysis Methods */</h4>-->
    <!--<ul>-->
      <!--<li>-->
        <!--– Types of Graphs/Networks-->
      <!--</li>-->
      <!--<li>-->
        <!--– Centrality Measures-->
      <!--</li>-->
      <!--<li>-->
        <!--– Community Detection-->
      <!--</li>-->
      <!--<li>-->
      <!--&#45;&#45; Licensing/Copyright/Patents/IP-->
      <!--</li>-->
      <!--<li>-->
      <!--&#45;&#45; Testing Methods and Strategies-->
      <!--</li>-->
      <!--<li>-->
      <!--&#45;&#45; Code Repair Strategies-->
      <!--</li>-->
      <!--<li>-->
      <!--&#45;&#45; Code Management and Peer Review-->
      <!--</li>-->
      <!--<li>-->
      <!--&#45;&#45; Source Code Control and Managing Conflicts-->
      <!--</li>-->
      <!--<li>-->
      <!--&#45;&#45; Managing Dependencies/Build tools/Integration-->
      <!--</li>-->
      <!--<li>-->
      <!--&#45;&#45; Continuous Integration-->
      <!--</li>-->
      <!--<li>-->
      <!--&#45;&#45; Software Deployment and Deployment environments-->
      <!--</li>-->
    <!--</ul>-->
    <br>
    <br>
    <h3>Problem Sets</h3>
    Problem sets are posted on GitHub, solutions will be posted to GitHub soon after the submission deadline.
    See the syllabus details for detailed information about grading, late, and collaboration policy.
    <br>
    <br>
    <h3>Syllabus Details</h3>


  </nz-content>
</nz-layout>


<!--Waterfall, Iterfall, Agile;-->
<!--Requirements Elicitation and Analysis;-->
<!--Code Quality;-->
<!--Static and Dynamic Analysis;-->
<!--Refactoring;-->
<!---->
<!--Software Configuration Management Systems;-->
<!--Bug Tracking;-->

<!--Unix tools;-->
<!--Data stores/access/formats/models;-->
