<nz-layout>
  <nz-content class="paragraph">
    <nz-breadcrumb style="margin:12px -50px;">
      <nz-breadcrumb-item><i nz-icon type="home"></i></nz-breadcrumb-item>
      <nz-breadcrumb-item>課程</nz-breadcrumb-item>
      <nz-breadcrumb-item><a href="http://web.ncku.edu.tw/" target="_blank">國立成功大學</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a
        href="http://class-qry.acad.ncku.edu.tw/syllabus/online_display.php?syear=0106&sem=2&co_no=H212200&class_code="
        target="_blank">[短講] 隨機塊模型：用統計方法分析網絡數據</a></nz-breadcrumb-item>
    </nz-breadcrumb>
    <div>
      <h2>
        Introduction to Stochastic Block Models (Spring 2019)
      </h2>
      <h3>
        Special Lectures on Statistical Models Applied to Network Data
      </h3>
      <br>
      <h5>
        Guest Instructor: <a href="https://junipertcy.info" target="_blank">Tzu-Chi Yen</a> (courtesy of <a
        href="http://myweb.ncku.edu.tw/~chengte/index.html" target="_blank">Prof. Cheng-Te Li</a>)<br>
        Email: tzuchi.yen [at] colorado.edu<br>
        Lecture hours: June 5th [Wed], 13:10pm-15:00pm<br>
        Lecture room: Dept. Bldg. of Statistics 62223, National Cheng Kung Univserity, Tainan, Taiwan<br>
        <br>
        Office location: TBD<br>
        Office hours: TBD<br>
      </h5>
      <br>
    </div>
  </nz-content>
</nz-layout>
