<nz-layout>
  <nz-content style="padding-left: 150px; padding-right: 25px;">
    <nz-breadcrumb style="margin:12px 0;">
      <!--<nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
      <!--<nz-breadcrumb-item>List</nz-breadcrumb-item>-->
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px;">
      <div class="paragraph" style="text-align: justify;">
        <h2>網絡素養 – 關於網絡科學的基本概念和核心思想</h2>
        <div style="height: 26px;"></div>
        翻譯自 NETWORK LITERACY: Essential Concepts and Core Ideas；源於網絡科學教育計畫 (Network Science in Education |
        NetSciEd)，旨在讓每個人都能學習並且應用網絡科學，提昇全民的網絡素養。
      </div>
      <div style="height: 13px;"></div>
      <div class="paragraph" style="text-align: justify;">
        由於網際網路的普及以及社群網站服務的流行，資訊得以有效率地在人與人之間傳播，地球村每個角落的距離因而大幅縮短，彼此的關係愈來愈容易相互影響而密不可分。如果人們對這個連結你我的無形網絡能有更多認識，社會或將因網絡提高資訊散播之效率而更加進步。簡而言之，一個網絡化的社會需要人們擁有「網絡素養」：意即認識各式各樣的網絡結構如何用來發現新知、作出決策，以及了解網絡所帶來的機會與挑戰。另一方面，對於無時無刻沉浸在網絡（無論是網際網路還是社群網路）中的年輕人，如何協助他們在學生時期建立對於網絡科學的基本素養，更是當代資訊教育的重要課題。網絡以各種不同形式、面貌且無所不在地存在你我之間；可惜的是，如此重要的網絡卻在我們的教育系統裡缺席了。
        <br>
        <br>
        近二十年來，網絡科學已從物理、資訊工程等領域，演繹出一套獨特的方法學，並應用在解決生物學、社會學與經濟學等許多真實世界之問題，譬如：應用在金融界的異常交易行為預警系統，或是線上購物網站的商品推薦系統。本文將作為建立大眾網絡素養的入門磚，透過七個簡潔有趣的例子，以平實的文字，為人們介紹網絡科學的基本概念，是適合大小朋友閱讀的科普文章。本文由網絡科學領域的學者和工作者反覆潤飾撰寫而成，他們是研究並且開發網絡科學應用的跨領域科學家。如果您想要知道更多關於網絡科學的故事，特別是網絡素養計畫的緣由，歡迎訪問我們的專頁：
        <br>
        <br>
        <a
          href="http://sites.google.com/a/binghamton.edu/netscied">http://sites.google.com/a/binghamton.edu/netscied</a>
        <br>
        <br>
        在《網絡素養》的英文版原文釋出後，迄今已翻譯成十多種語言，試圖將網絡科學的基本知識傳遞給每一位現代公民。我們希望繁體中文版的譯本能讓更多華人世界的朋友認識網絡科學，盼能提供大家不同的思維和角度看待身邊的人事物，讓我們的社會更加進步。
      </div>
    </div>
  </nz-content>
  <nz-sider [nzWidth]="400">
    <div style="margin-top: -60px;">
      <graph [nodes]="nodes" [links]="links"></graph>
    </div>
    <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="網絡科學教育計畫" nzDescription="https://netscied.tw"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="book-cover" src="../../assets/img/booklet-thumbnail.png"/>
    </ng-template>
    <div style="height: 30px; background: #fff;"></div>
    <button nz-button [nzType]="'primary'" [nzSize]="'default'" (click)="downloadEnglishVersion();">
      <i nz-icon nzType="download" nzTheme="outline"></i>
      <span>
        <span nz-tooltip>下載英文原版</span>
      </span>
    </button>
    <div style="height: 10px; background: #fff;"></div>
    <button nz-button [nzType]="'primary'" [nzSize]="'default'" (click)="downloadChineseVersion();">
      <i nz-icon nzType="download" nzTheme="outline"></i>
      <span>
        <span nz-tooltip>下載中文翻譯</span>
      </span>
    </button>
  </nz-sider>
</nz-layout>
