.logo {
    height: 31px;
    border-radius: 6px;
    margin: 16px 24px 16px 0;
    float: left;
}

.ant-layout-header {
  background: #ffffff;
}
.ant-layout-footer {
  background: #fff;
}

/* make menu items closer */
.ant-menu-item, .ant-menu-submenu-title {
    padding: 0 10px;
}

.ant-layout {
  height: 100%;
  background: #ffffff;
  margin: 0 auto;
}

/*.navigator {*/
    /*font-style: normal;*/
    /*font-size: 14px;*/
    /*font-family: Roboto, sans-serif;*/
    /*color: #4d4d4d;*/
    /*background: #fff;*/
    /*height: 100%;*/
/*}*/


