<nz-layout>
  <nz-content style="padding-left: 150px; padding-right: 25px;">
    <nz-breadcrumb style="margin:12px 0;">
      <!--<nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
      <!--<nz-breadcrumb-item>List</nz-breadcrumb-item>-->
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px;">
      <div class="paragraph" style="text-align: justify;">
        <h2>台灣網絡科學教育</h2>
        <div style="height: 26px;"></div>
        網絡是由節點和節點間的關聯所構成的集合。它可以描述實體的結構，如各台電腦經由電纜關聯起來的網際網路；它也可以描述抽象的系統，如人際網絡，其中的關聯雖然看不見，但是可以藉由問卷、社交網站互動紀錄等推估出來。像化學環繞著研究化合物的特性一樣，網絡科學希望理解網絡的特性，如一個網絡是否在統計上特別、是否存在社群結構等，或發生在網絡上的動態現象，如謠言如何傳播、為什麼會形成「同溫層」等等。不像組合數學的圖論研究特定性質的圖（即：網絡），網絡科學常取材於生活中的數據。她是一個新興的學科，因為過去電腦不發達，沒有累積足夠多的數據，讓人們認知到要理解網絡的複雜，足以構成一個學科。網絡科學教育在台灣是一個倡議 (initiative)：我們希望將網絡科學的基本知識傳遞給每一位現代公民。
        <br>
        <br>
        其中一個期待，是希望藉由認識一些網絡上的現象，例如<a href="https://www.mplus.com.tw/article/814" target="_blank">社交錯覺</a>，提升社會的「網路素養」。根據台灣網路資訊中心 (TWNIC) 的<a href="https://report.twnic.tw/2018/" target="_blank">估計</a>，2018 年全國上網人數已達 1,866 萬，整體上網率達 79.2%。其中，網民對於內容媒體與社群媒體的使用率最高，其次則是電子商務。 提高網路普及率，並降低數位落差，有助於經濟成長，但網路的發展並非有利無害。去年 (2018) 的「九合一之公投綁大選」，社群媒體上的錯誤資訊引發廣泛討論。為了對抗假資訊或假新聞，在民間有媒體識讀教育，希望提高社會對網路及社交媒體影響力的認識，增進民眾分辨新聞的真假著手。在法律層面，行政院也希望修法，納入防堵散播假新聞的規範和罰則。在其他國家，亦有要求網路界龍頭改變的做法，例如發明全球資訊網 (WWW) 的 Tim Berners-Lee，發起了<a href="https://fortheweb.webfoundation.org/" target="_blank">網路契約</a>運動，希望讓網路更安全。
        <br>
        <br>
        另一個期待，是希望傳遞網絡科學有異於「非關聯性資料」的方法學，幫助應用在解決生物學、社會學與經濟學等許多真實世界之問題上。其應用例如：發現讓生態系穩定的方法；分析疾病的擴散，做到其預測與管理；醫學上，預測怎樣的藥物組合可能有危險；理解社會階級如何影響人的互動；應用在金融界的異常交易行為預警系統，或是線上購物網站的商品推薦系統等等。
        <br>
        <br>
        這個網站收集和台灣有關的網絡數據、案例研究，也收集網絡的建模與分析的課程資料，目標是讓網絡科學更親近實際生活。
      </div>
      <div class="paragraph" style="text-align: justify;">
        <h2>新聞</h2>
        <ul>
          <li>
            <strong>Jul. 03, 2019</strong>
            – 公共科學圖書館（PLOS）的<a href="https://channels.plos.org/complexity">《複雜》</a>線上頻道刊載了我們收集各種主流/非主流電腦工具的<a href="https://channels.plos.org/complexity/all?filters=featured_at%2CWeb%20Article&q=Tzu-Chi%20Yen&sort=recent" target="_blank">成果</a>。感謝<a href="https://opennetsci.github.io/projects"> OpenNetSci 黑客松</a>的資源支持，也歡迎大家在<a href="https://github.com/junipertcy/Network-Code-Repository"> Network-Code-Repository </a>上遞交更新。
          </li>
          <li>
            <strong>Mar. 12, 2019</strong>
            – 科學人 <a href="http://sa.ylib.com/Catalog.aspx?id=272" target="_blank">2019 年 2 月號</a>刊登了成功大學的李政德老師撰寫的〈從社群網路看資訊流動〉一文，討論社群網路上的資訊如何影響我們的生活。我們取得作者和科學人同意，能從<a href="http://sa.ylib.com/MagArticle.aspx?Unit=featurearticles&id=4287" target="_blank">此連接</a>閱讀該文。
          </li>
          <li>
            <strong>Jun. 12, 2018</strong>
            – 第七屆的<a href="https://sites.google.com/a/binghamton.edu/netscied2018/home">網絡科學教育會議</a>在巴黎舉行。<a href="https://sites.google.com/a/binghamton.edu/netscied/events/netscied-symposia" target="_blank">這裡</a>可以找到過去所有的會議官網，包含即將在 2019 年舉行的。會議主席 Hiroki Sayama 教授總會盡量地讓講者的材料公開出來。
          </li>
          <li>
            <strong>Apr. 11 & 18, 2018</strong>
            – 我們很榮幸能在 2018 年春季的成功大學統計系《<a routerLink="./stat1021">資料科學導論</a>》課程介紹網絡科學。
          </li>
        </ul>
      </div>
    </div>
  </nz-content>
  <nz-sider [nzWidth]="400">
    <div style="margin-top: -60px;">
      <graph [nodes]="nodes" [links]="links"></graph>
    </div>
    <div style="width: 320px">
      <i nz-icon nzType="up-square" nzTheme="fill"></i> 圖說：這是 <a href="https://en.wikipedia.org/wiki/Zachary%27s_karate_club" target="_blank">Zachary 空手道社團網絡</a>，由 34 個社團成員組成。私底下也是朋友的人，友誼關係被 Zachary 記錄下來。後來，社長 (編號 34) 和教練 (編號 1) 因為團費的定價吵了起來；最後社團分裂了，有些人跟著社長找了新的教練。網絡科學家常研究這個網絡。有趣的是，甚至有 <a href="http://networkkarate.tumblr.com/" target="_blank">Zachary 空手道社團社團</a>，會頒神秘的獎盃給第一個在某會議用該網絡做為範例演講的人。
    </div>
  </nz-sider>
</nz-layout>
