.ant-layout-content {
    background: #fff;
}
.ant-layout {
    background: #fff;
}

.paragraph {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    color: #4d4d4d;
    background: #fff;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto 1.7em;
    width: 80%;
}

li {
  font-size: 11pt;
}

li.intent {
    margin: 0 0 0 20px;
    list-style-type: circle;
}

#in-class-network {
    height: 300px;
    right: 5vw;
    top: 12vh;
    position: absolute;
    border-radius: 5px;
}
