<nz-layout>
  <nz-content class="paragraph">
    <nz-breadcrumb style="margin:12px -50px;">
      <nz-breadcrumb-item><i nz-icon type="home"></i></nz-breadcrumb-item>
      <nz-breadcrumb-item>課程</nz-breadcrumb-item>
      <nz-breadcrumb-item><a href="http://web.ncku.edu.tw/" target="_blank">國立成功大學</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a
        href="http://class-qry.acad.ncku.edu.tw/syllabus/online_display.php?syear=0107&sem=2&co_no=R271600&class_code="
        target="_blank">STAT6057: 社會與資訊網路分析</a></nz-breadcrumb-item>
    </nz-breadcrumb>
    <div>
      <h2>
        Large-scale structures in networks: hidden communities and latent hierarchies (Spring 2019)
      </h2>
      <h3>
        Special Lectures on Statistical Models Applied to Network Data
      </h3>
      <br>
      <h5>
        Guest Instructor: <a href="https://junipertcy.info" target="_blank">Tzu-Chi Yen</a> (courtesy of <a
        href="http://myweb.ncku.edu.tw/~chengte/index.html" target="_blank">Prof. Cheng-Te Li</a>)<br>
        Email: tzuchi.yen [at] colorado.edu<br>
        Lecture hours: June 5th [Wed], 13:10pm-15:00pm<br>
        Lecture room: Dept. Bldg. of Statistics 62223, National Cheng Kung Univserity, Tainan, Taiwan<br>
      </h5>
      <br>
      <h3>Announcement</h3>
      <ul id="announcement">
        <li class="intent">
          The slides will be downloadable before the lecture.
        </li>
        <li class="intent">
          Thanks, Dan. Lecture content is largely borrowed and reinterpreted from the <a href="http://danlarremore.com/talk.pdf" target="_blank">slides</a> of <a href="http://danlarremore.com/" target="_blank">Daniel Larremore</a>.
        </li>
      </ul>
      <br>
      <h3>Lecture Description</h3>

      <h3>Tentitive Topics (details TBD)</h3>
      <ul>
        <li>
          <strong>Community structures</strong>
        </li>
        <li class="intent">
          Modularity
        </li>
        <li class="intent">
          Stochastic Block Model
        </li>
        <li>
          <strong>Rankings and linear hierarchies</strong>
        </li>
        <li class="intent">
          Minimal Violation Ranking
        </li>
        <li class="intent">
          SpringRank
        </li>
      </ul>

    </div>
  </nz-content>
</nz-layout>
