<nz-layout>
<nz-content class="paragraph" style="padding:0 0px;">
  <nz-breadcrumb style="margin:12px -50px;">
    <nz-breadcrumb-item>首頁</nz-breadcrumb-item>
    <nz-breadcrumb-item>生活中的網絡</nz-breadcrumb-item>
    <nz-breadcrumb-item>漁業貿易網絡</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="background:#fff; padding: 24px; min-height: 280px;">
    在這裡未來將收集許多網絡數據。例如台灣所有港口和其他港口的貿易數據，從 2000 年收集到 2016 年。
    <br>
    <br>
    我們規定數據格式，讓需要的人下載。數據包括網絡的結構，還有節點與邊所代表的意義等。
    <br>
    <br>
    我們也引用和該數據有關的論文或報導，讓人參考。
    <br>
    <br>
    當數據不大時（節點數小於 1000），我們可以設計一個按鈕，直接在網頁上呈現視覺化。
    <br>
    <br>
    另外，我們也設計標籤，使用者可以用標籤檢索其他相關的數據。
  </div>
  <nz-tag>港口</nz-tag>
  <nz-tag>漁業</nz-tag>
  <nz-tag>貿易</nz-tag>
</nz-content>
</nz-layout>
